__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
bin/
lib/
include/
local/
.venv
.env
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.DS_Store
cookies.txt
downloads/
